In [2]:
import numpy as np 
import pandas as pd

In [3]:
index_col_names=['unit_id','time_cycle']
operat_set_col_names=['oper_set{}'.format(i) for i in range(1,4)]
sensor_measure_col_names=['sm_{}'.format(i) for i in range(1,22)]
all_col=index_col_names+operat_set_col_names+sensor_measure_col_names
print(all_col)

['unit_id', 'time_cycle', 'oper_set1', 'oper_set2', 'oper_set3', 'sm_1', 'sm_2', 'sm_3', 'sm_4', 'sm_5', 'sm_6', 'sm_7', 'sm_8', 'sm_9', 'sm_10', 'sm_11', 'sm_12', 'sm_13', 'sm_14', 'sm_15', 'sm_16', 'sm_17', 'sm_18', 'sm_19', 'sm_20', 'sm_21']

In [4]:
train_df1=pd.read_csv('train_FD001.txt',delim_whitespace=True,names=all_col)
train_df1

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [5]:
train_df1.describe()

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
count,20631.000000,20631.000000,20631.000000,20631.000000,20631.0,2.063100e+04,20631.000000,20631.000000,20631.000000,2.063100e+04,...,20631.000000,20631.000000,20631.000000,20631.000000,2.063100e+04,20631.000000,20631.0,20631.0,20631.000000,20631.000000
mean,51.506568,108.807862,-0.000009,0.000002,100.0,5.186700e+02,642.680934,1590.523119,1408.933782,1.462000e+01,...,521.413470,2388.096152,8143.752722,8.442146,3.000000e-02,393.210654,2388.0,100.0,38.816271,23.289705
std,29.227633,68.880990,0.002187,0.000293,0.0,6.537152e-11,0.500053,6.131150,9.000605,3.394700e-12,...,0.737553,0.071919,19.076176,0.037505,1.556432e-14,1.548763,0.0,0.0,0.180746,0.108251
min,1.000000,1.000000,-0.008700,-0.000600,100.0,5.186700e+02,641.210000,1571.040000,1382.250000,1.462000e+01,...,518.690000,2387.880000,8099.940000,8.324900,3.000000e-02,388.000000,2388.0,100.0,38.140000,22.894200
25%,26.000000,52.000000,-0.001500,-0.000200,100.0,5.186700e+02,642.325000,1586.260000,1402.360000,1.462000e+01,...,520.960000,2388.040000,8133.245000,8.414900,3.000000e-02,392.000000,2388.0,100.0,38.700000,23.221800
50%,52.000000,104.000000,0.000000,0.000000,100.0,5.186700e+02,642.640000,1590.100000,1408.040000,1.462000e+01,...,521.480000,2388.090000,8140.540000,8.438900,3.000000e-02,393.000000,2388.0,100.0,38.830000,23.297900
75%,77.000000,156.000000,0.001500,0.000300,100.0,5.186700e+02,643.000000,1594.380000,1414.555000,1.462000e+01,...,521.950000,2388.140000,8148.310000,8.465600,3.000000e-02,394.000000,2388.0,100.0,38.950000,23.366800
max,100.000000,362.000000,0.008700,0.000600,100.0,5.186700e+02,644.530000,1616.910000,1441.490000,1.462000e+01,...,523.380000,2388.560000,8293.720000,8.584800,3.000000e-02,400.000000,2388.0,100.0,39.430000,23.618400

In [6]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20631 entries, 0 to 20630
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   unit_id     20631 non-null  int64
 1   time_cycle  20631 non-null  int64
 2   oper_set1   20631 non-null  float64
 3   oper_set2   20631 non-null  float64
 4   oper_set3   20631 non-null  float64
 5   sm_1        20631 non-null  float64
 6   sm_2        20631 non-null  float64
 7   sm_3        20631 non-null  float64
 8   sm_4        20631 non-null  float64
 9   sm_5        20631 non-null  float64
 10  sm_6        20631 non-null  float64
 11  sm_7        20631 non-null  float64
 12  sm_8        20631 non-null  float64
 13  sm_9        20631 non-null  float64
 14  sm_10       20631 non-null  float64
 15  sm_11       20631 non-null  float64
 16  sm_12       20631 non-null  float64
 17  sm_13       20631 non-null  float64
 18  sm_14       20631 non-null  float64
 19  sm_15       20631 non-null  float64
 20  sm_16       20631 non-null  float64
 21  sm_17       20631 non-null  int64
 22  sm_18       20631 non-null  int64
 23  sm_19       20631 non-null  float64
 24  sm_20       20631 non-null  float64
 25  sm_21       20631 non-null  float64
dtypes: float64(22), int64(4)
memory usage: 4.1 MB

In [7]:
test_df1=pd.read_csv('test_FD001.txt',delim_whitespace=True,names=all_col)
test_df1

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,520.69,2388.00,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,521.05,2388.09,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,521.18,2388.04,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,521.33,2388.08,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,521.07,2388.05,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855

In [8]:
test_df1.describe()

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
count,13096.000000,13096.000000,13096.000000,13096.000000,13096.0,1.309600e+04,13096.000000,13096.000000,13096.000000,1.309600e+04,...,13096.000000,13096.000000,13096.000000,13096.000000,1.309600e+04,13096.000000,13096.0,13096.0,13096.000000,13096.000000
mean,51.543907,76.836515,-0.000011,0.000004,100.0,5.186700e+02,642.475088,1588.099204,1404.735362,1.462000e+01,...,521.747724,2388.071025,8138.947817,8.425844,3.000000e-02,392.571625,2388.0,100.0,38.892502,23.335743
std,28.289423,53.057749,0.002203,0.000294,0.0,6.014263e-11,0.400899,5.003274,6.688309,2.671743e-12,...,0.559627,0.056934,10.188605,0.029009,8.823140e-15,1.233577,0.0,0.0,0.141681,0.084120
min,1.000000,1.000000,-0.008200,-0.000600,100.0,5.186700e+02,641.130000,1569.040000,1384.390000,1.462000e+01,...,519.380000,2387.890000,8108.500000,8.332800,3.000000e-02,389.000000,2388.0,100.0,38.310000,22.935400
25%,28.000000,33.000000,-0.001500,-0.000200,100.0,5.186700e+02,642.197500,1584.600000,1399.950000,1.462000e+01,...,521.380000,2388.030000,8132.310000,8.405600,3.000000e-02,392.000000,2388.0,100.0,38.800000,23.281600
50%,52.000000,69.000000,-0.000000,-0.000000,100.0,5.186700e+02,642.460000,1587.990000,1404.440000,1.462000e+01,...,521.780000,2388.070000,8138.390000,8.424900,3.000000e-02,393.000000,2388.0,100.0,38.900000,23.339200
75%,76.000000,113.000000,0.001500,0.000300,100.0,5.186700e+02,642.740000,1591.362500,1409.050000,1.462000e+01,...,522.150000,2388.110000,8144.360000,8.444300,3.000000e-02,393.000000,2388.0,100.0,38.990000,23.393600
max,100.000000,303.000000,0.007800,0.000700,100.0,5.186700e+02,644.300000,1607.550000,1433.360000,1.462000e+01,...,523.760000,2388.320000,8220.480000,8.541400,3.000000e-02,397.000000,2388.0,100.0,39.410000,23.641900

In [9]:
test_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13096 entries, 0 to 13095
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   unit_id     13096 non-null  int64
 1   time_cycle  13096 non-null  int64
 2   oper_set1   13096 non-null  float64
 3   oper_set2   13096 non-null  float64
 4   oper_set3   13096 non-null  float64
 5   sm_1        13096 non-null  float64
 6   sm_2        13096 non-null  float64
 7   sm_3        13096 non-null  float64
 8   sm_4        13096 non-null  float64
 9   sm_5        13096 non-null  float64
 10  sm_6        13096 non-null  float64
 11  sm_7        13096 non-null  float64
 12  sm_8        13096 non-null  float64
 13  sm_9        13096 non-null  float64
 14  sm_10       13096 non-null  float64
 15  sm_11       13096 non-null  float64
 16  sm_12       13096 non-null  float64
 17  sm_13       13096 non-null  float64
 18  sm_14       13096 non-null  float64
 19  sm_15       13096 non-null  float64
 20  sm_16       13096 non-null  float64
 21  sm_17       13096 non-null  int64
 22  sm_18       13096 non-null  int64
 23  sm_19       13096 non-null  float64
 24  sm_20       13096 non-null  float64
 25  sm_21       13096 non-null  float64
dtypes: float64(22), int64(4)
memory usage: 2.6 MB

In [10]:
y_checking=pd.read_csv('RUL_FD001.txt',delim_whitespace=True,names=['RUL'])
y_checking

    RUL
0   112
1    98
2    69
3    82
4    91
..  ...
95  137
96   82
97   59
98  117
99   20

[100 rows x 1 columns]

In [11]:
y_true=pd.read_csv('RUL_FD001.txt',delim_whitespace=True,names=['RUL'])
y_true['unit_id']=y_true.index+1
y_true.head()

   RUL  unit_id
0  112        1
1   98        2
2   69        3
3   82        4
4   91        5

In [12]:
test_df1[test_df1.unit_id==1]
train_df1[train_df1.unit_id==1]

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1,188,-0.0067,0.0003,100.0,518.67,643.75,1602.38,1422.78,14.62,...,519.79,2388.23,8117.69,8.5207,0.03,396,2388,100.0,38.51,22.9588
188,1,189,-0.0006,0.0002,100.0,518.67,644.18,1596.17,1428.01,14.62,...,519.58,2388.33,8117.51,8.5183,0.03,395,2388,100.0,38.48,23.1127
189,1,190,-0.0027,0.0001,100.0,518.67,643.64,1599.22,1425.95,14.62,...,520.04,2388.35,8112.58,8.5223,0.03,398,2388,100.0,38.49,23.0675
190,1,191,-0.0000,-0.0004,100.0,518.67,643.34,1602.36,1425.77,14.62,...,519.57,2388.30,8114.61,8.5174,0.03,394,2388,100.0,38.45,23.1295
191,1,192,0.0009,-0.0000,100.0,518.67,643.54,1601.41,1427.20,14.62,...,520.08,2388.32,8110.93,8.5113,0.03,396,2388,100.0,38.48,22.9649

In [13]:
y_true

    RUL  unit_id
0   112        1
1    98        2
2    69        3
3    82        4
4    91        5
..  ...      ...
95  137       96
96   82       97
97   59       98
98  117       99
99   20      100

[100 rows x 2 columns]

In [14]:
#find maximum time cycle for each unit d
max_time_cycle=train_df1.groupby('unit_id')['time_cycle'].max()
print(max_time_cycle)
rul = pd.DataFrame(max_time_cycle).reset_index()
rul.columns = ['unit_id', 'max']
rul.head()

unit_id
1      192
2      287
3      179
4      189
5      269
      ...
96     336
97     202
98     156
99     185
100    200
Name: time_cycle, Length: 100, dtype: int64

   unit_id  max
0        1  192
1        2  287
2        3  179
3        4  189
4        5  269

In [15]:
rul

    unit_id  max
0         1  192
1         2  287
2         3  179
3         4  189
4         5  269
..      ...  ...
95       96  336
96       97  202
97       98  156
98       99  185
99      100  200

[100 rows x 2 columns]

add rul feature in train df

In [16]:
train_df1 = train_df1.merge(rul, on=['unit_id'], how='left')

In [17]:
train_df1['RUL'] = train_df1['max'] - train_df1['time_cycle']
train_df1.drop('max', axis=1, inplace=True)

In [18]:
train_df = train_df1.copy()

In [19]:
train_df[train_df.unit_id==1].iloc[:,[1,-1]]

     time_cycle  RUL
0             1  191
1             2  190
2             3  189
3             4  188
4             5  187
..          ...  ...
187         188    4
188         189    3
189         190    2
190         191    1
191         192    0

[192 rows x 2 columns]

In [20]:
test_df = test_df1.copy()

In [21]:
test_df['RUL']=0
for i in range(1,101):
    test_df.loc[test_df.unit_id==i,'RUL']=range(int(y_true.RUL[y_true.unit_id==i])+len(test_df[test_df.unit_id==i])-1,
                                      int(y_true.RUL[y_true.unit_id==i])-1,-1)

C:\Users\yashs\AppData\Local\Temp\ipykernel_15528\2210728523.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  test_df.loc[test_df.unit_id==i,'RUL']=range(int(y_true.RUL[y_true.unit_id==i])+len(test_df[test_df.unit_id==i])-1,
C:\Users\yashs\AppData\Local\Temp\ipykernel_15528\2210728523.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(y_true.RUL[y_true.unit_id==i])-1,-1)

In [22]:
test_df.iloc[:,[0,1,-1]]

       unit_id  time_cycle  RUL
0            1           1  142
1            1           2  141
2            1           3  140
3            1           4  139
4            1           5  138
...        ...         ...  ...
13091      100         194   24
13092      100         195   23
13093      100         196   22
13094      100         197   21
13095      100         198   20

[13096 rows x 3 columns]

In [23]:
y_true

    RUL  unit_id
0   112        1
1    98        2
2    69        3
3    82        4
4    91        5
..  ...      ...
95  137       96
96   82       97
97   59       98
98  117       99
99   20      100

[100 rows x 2 columns]

In [24]:
y_true
test_df.loc[test_df.unit_id==5,['unit_id','time_cycle','RUL']]

     unit_id  time_cycle  RUL
312        5           1  188
313        5           2  187
314        5           3  186
315        5           4  185
316        5           5  184
..       ...         ...  ...
405        5          94   95
406        5          95   94
407        5          96   93
408        5          97   92
409        5          98   91

[98 rows x 3 columns]

In [25]:
train_df

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,4
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,3
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,2
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,1
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,0

In [26]:
test_df

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21,RUL
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,142
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,141
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,140
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,139
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,2388.00,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,24
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,2388.09,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,23
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,2388.04,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,22
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,2388.08,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,21
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,2388.05,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,20

In [27]:
# train_df.to_csv('train_df1.csv', index=False)
# test_df.to_csv('test_df1.csv', index=False)

In [28]:
X_train = train_df.drop(columns=['unit_id','RUL'])
y_train = train_df['RUL']

In [29]:
X_train.dtypes

time_cycle      int64
oper_set1     float64
oper_set2     float64
oper_set3     float64
sm_1          float64
sm_2          float64
sm_3          float64
sm_4          float64
sm_5          float64
sm_6          float64
sm_7          float64
sm_8          float64
sm_9          float64
sm_10         float64
sm_11         float64
sm_12         float64
sm_13         float64
sm_14         float64
sm_15         float64
sm_16         float64
sm_17           int64
sm_18           int64
sm_19         float64
sm_20         float64
sm_21         float64
dtype: object

In [30]:
y_train.dtypes

dtype('int64')

In [31]:
X_valid = test_df.drop(columns=['unit_id','RUL'])
y_valid = test_df['RUL']
y_valid

0        142
1        141
2        140
3        139
4        138
        ...
13091     24
13092     23
13093     22
13094     21
13095     20
Name: RUL, Length: 13096, dtype: int64

In [32]:
X_valid

,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,sm_6,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
0,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,21.61,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,21.61,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,21.61,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,21.61,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,21.61,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,21.61,...,520.69,2388.00,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974
13092,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,21.61,...,521.05,2388.09,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771
13093,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,21.61,...,521.18,2388.04,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051
13094,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,21.61,...,521.33,2388.08,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699
13095,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,21.61,...,521.07,2388.05,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855

In [33]:
X_valid.dtypes

time_cycle      int64
oper_set1     float64
oper_set2     float64
oper_set3     float64
sm_1          float64
sm_2          float64
sm_3          float64
sm_4          float64
sm_5          float64
sm_6          float64
sm_7          float64
sm_8          float64
sm_9          float64
sm_10         float64
sm_11         float64
sm_12         float64
sm_13         float64
sm_14         float64
sm_15         float64
sm_16         float64
sm_17           int64
sm_18           int64
sm_19         float64
sm_20         float64
sm_21         float64
dtype: object

In [34]:
y_valid.dtypes

dtype('int64')

installations

In [35]:
# pip install xgboost
# pip install scikit-learn

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [37]:
# categorical and numerical columns seperation although we got only num cols here
categorical_cols = [cname for cname in X_train.columns if
                    X_train[cname].nunique() < 20 and 
                    X_train[cname].dtype == "object"]
numerical_cols = [cname for cname in X_train.columns if 
                X_train[cname].dtype in ['int64', 'float64']]
my_cols = categorical_cols + numerical_cols

In [38]:
my_cols

['time_cycle',
 'oper_set1',
 'oper_set2',
 'oper_set3',
 'sm_1',
 'sm_2',
 'sm_3',
 'sm_4',
 'sm_5',
 'sm_6',
 'sm_7',
 'sm_8',
 'sm_9',
 'sm_10',
 'sm_11',
 'sm_12',
 'sm_13',
 'sm_14',
 'sm_15',
 'sm_16',
 'sm_17',
 'sm_18',
 'sm_19',
 'sm_20',
 'sm_21']

In [39]:
#preprocessing  no need here bz no null but still
numerical_transformer = SimpleImputer(strategy='constant')

# no categorical for us here btw but i like to put it here in pipeline :)
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
])

In [40]:
# model = XGBRegressor(n_estimators=120, max_depth=8, random_state=0, learning_rate=0.15) 32.63 mae
# model = XGBRegressor(n_estimators=100, max_depth=8, random_state=0, learning_rate=0.15)
# 32.42
model = XGBRegressor(n_estimators=150, max_depth=8, random_state=0, learning_rate=0.15)
# 32.87 

# Bundle preprocessing and modeling code in a pipeline
clf = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', model)
])

In [41]:
clf.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  SimpleImputer(strategy='constant'),
                                                  ['time_cycle', 'oper_set1',
                                                   'oper_set2', 'oper_set3',
                                                   'sm_1', 'sm_2', 'sm_3',
                                                   'sm_4', 'sm_5', 'sm_6',
                                                   'sm_7', 'sm_8', 'sm_9',
                                                   'sm_10', 'sm_11', 'sm_12',
                                                   'sm_13', 'sm_14', 'sm_15',
                                                   'sm_16', 'sm_17', 'sm_18',
                                                   'sm_19', 'sm_20', 'sm_21']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer'...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.15,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=8, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=150, n_jobs=None,
                              num_parallel_tree=None, random_state=0, ...))])

In [42]:
y_pred = clf.predict(X_valid)

mae = mean_absolute_error(y_valid, y_pred)
print(mae)

32.875567668829305

In [43]:
from sklearn.metrics import r2_score


r2 = r2_score(y_valid, y_pred)
print("R2 Score: ", r2)

R2 Score:  0.46334507002024705

In [44]:
# X_train.to_csv('X1.csv', index=False)
# X_valid.to_csv('XV1.csv', index=False)
# y_train.to_csv('Y1.csv', index=False)
# y_valid.to_csv('YV1.csv', index=False)

In [45]:
test_final =pd.read_csv('test.txt',delim_whitespace=True,names=all_col)
test_final

,unit_id,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
0,1,25.0050,0.6200,60.0,462.54,536.34,1268.38,1049.96,7.05,9.03,...,2028.17,7874.93,10.9308,0.02,306,1915,84.93,14.29,8.5611,NaN
1,2,25.0012,0.6202,60.0,462.54,537.40,1268.90,1066.04,7.05,9.03,...,2029.32,7924.66,10.9776,0.02,308,1915,84.93,14.21,8.4244,NaN
2,3,42.0014,0.8400,100.0,445.00,549.93,1350.30,1127.04,3.91,5.71,...,2387.78,8075.83,9.4122,0.02,332,2212,100.00,10.69,6.3917,NaN
3,4,41.9980,0.8418,100.0,445.00,549.79,1354.57,1124.67,3.91,5.70,...,2388.17,8093.93,9.3020,0.02,330,2212,100.00,10.72,6.3294,NaN
4,5,25.0076,0.6201,60.0,462.54,536.11,1260.92,1039.25,7.05,9.03,...,2028.41,7881.54,10.8563,0.02,306,1915,84.93,14.32,8.5717,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,244,19.9995,0.7000,100.0,491.19,607.81,1479.28,1244.33,9.35,13.66,...,2388.09,8065.07,9.2131,0.02,364,2324,100.00,24.68,14.6564,NaN
244,245,20.0062,0.7000,100.0,491.19,606.99,1482.89,1254.24,9.35,13.61,...,2388.25,8081.00,9.0999,0.02,365,2324,100.00,24.81,14.7455,NaN
245,246,42.0064,0.8401,100.0,445.00,549.04,1357.67,1125.77,3.91,5.71,...,2388.09,8085.19,9.3442,0.02,329,2212,100.00,10.61,6.3051,NaN
246,247,19.9987,0.7002,100.0,491.19,607.63,1495.98,1266.11,9.35,13.60,...,2388.58,8097.45,9.0603,0.03,366,2324,100.00,24.95,14.7838,NaN
247,248,42.0056,0.8409,100.0,445.00,549.44,1345.87,1117.83,3.91,5.69,...,2388.12,8088.38,9.2987,0.02,329,2212,100.00,10.48,6.3365,NaN

In [46]:
X_final = test_final.drop(columns=['unit_id'])
X_final

,time_cycle,oper_set1,oper_set2,oper_set3,sm_1,sm_2,sm_3,sm_4,sm_5,sm_6,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
0,25.0050,0.6200,60.0,462.54,536.34,1268.38,1049.96,7.05,9.03,175.74,...,2028.17,7874.93,10.9308,0.02,306,1915,84.93,14.29,8.5611,NaN
1,25.0012,0.6202,60.0,462.54,537.40,1268.90,1066.04,7.05,9.03,174.19,...,2029.32,7924.66,10.9776,0.02,308,1915,84.93,14.21,8.4244,NaN
2,42.0014,0.8400,100.0,445.00,549.93,1350.30,1127.04,3.91,5.71,138.29,...,2387.78,8075.83,9.4122,0.02,332,2212,100.00,10.69,6.3917,NaN
3,41.9980,0.8418,100.0,445.00,549.79,1354.57,1124.67,3.91,5.70,139.28,...,2388.17,8093.93,9.3020,0.02,330,2212,100.00,10.72,6.3294,NaN
4,25.0076,0.6201,60.0,462.54,536.11,1260.92,1039.25,7.05,9.03,175.86,...,2028.41,7881.54,10.8563,0.02,306,1915,84.93,14.32,8.5717,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,19.9995,0.7000,100.0,491.19,607.81,1479.28,1244.33,9.35,13.66,334.82,...,2388.09,8065.07,9.2131,0.02,364,2324,100.00,24.68,14.6564,NaN
244,20.0062,0.7000,100.0,491.19,606.99,1482.89,1254.24,9.35,13.61,337.82,...,2388.25,8081.00,9.0999,0.02,365,2324,100.00,24.81,14.7455,NaN
245,42.0064,0.8401,100.0,445.00,549.04,1357.67,1125.77,3.91,5.71,138.96,...,2388.09,8085.19,9.3442,0.02,329,2212,100.00,10.61,6.3051,NaN
246,19.9987,0.7002,100.0,491.19,607.63,1495.98,1266.11,9.35,13.60,340.08,...,2388.58,8097.45,9.0603,0.03,366,2324,100.00,24.95,14.7838,NaN
247,42.0056,0.8409,100.0,445.00,549.44,1345.87,1117.83,3.91,5.69,139.02,...,2388.12,8088.38,9.2987,0.02,329,2212,100.00,10.48,6.3365,NaN

In [47]:
pred_final = clf.predict(X_final)
pred_final

array([238.41219, 238.41219, 211.55562, 218.15779, 238.41219, 218.51158,
       238.41219, 254.20522, 211.55562, 238.41219, 211.55562, 242.13237,
       218.51158, 242.13237, 255.65836, 254.20522, 238.41219, 255.65836,
       211.55562, 211.55562, 218.51158, 214.94402, 243.75395, 211.55562,
       211.55562, 242.13237, 242.13237, 243.75395, 218.51158, 218.51158,
       238.41219, 260.89297, 265.4666 , 218.51158, 211.55562, 218.51158,
       218.15779, 211.55562, 211.55562, 255.65836, 218.51158, 249.4327 ,
       218.51158, 218.51158, 238.41219, 255.65836, 218.51158, 238.41219,
       265.4666 , 211.55562, 243.75395, 249.4327 , 249.4327 , 249.4327 ,
       242.13237, 265.4666 , 238.41219, 242.13237, 238.41219, 238.41219,
       249.4327 , 218.15779, 255.65836, 242.13237, 255.65836, 255.65836,
       218.15779, 211.55562, 218.51158, 242.13237, 238.41219, 218.15779,
       211.55562, 214.94402, 255.65836, 254.20522, 218.15779, 265.4666 ,
       218.15779, 211.55562, 255.65836, 242.13237, 211.55562, 218.51158,
       238.41219, 238.41219, 265.4666 , 238.41219, 242.13237, 218.15779,
       255.65836, 242.13237, 211.55562, 242.13237, 265.4666 , 218.15779,
       265.4666 , 211.55562, 211.55562, 238.41219, 255.65836, 214.94402,
       260.89297, 260.89297, 238.41219, 243.75395, 238.41219, 242.13237,
       218.15779, 218.15779, 249.4327 , 238.41219, 265.4666 , 243.75395,
       211.55562, 255.65836, 238.41219, 255.65836, 238.41219, 242.13237,
       243.75395, 238.41219, 238.41219, 214.94402, 260.88007, 211.55562,
       255.65836, 218.15779, 265.4666 , 211.55562, 238.41219, 255.65836,
       238.41219, 242.13237, 218.15779, 218.15779, 211.55562, 255.65836,
       242.13237, 265.4666 , 242.13237, 218.51158, 254.59627, 242.13237,
       218.51158, 218.51158, 211.55562, 218.51158, 242.13237, 218.51158,
       218.15779, 218.15779, 211.55562, 265.4666 , 255.65836, 218.51158,
       255.65836, 218.15779, 243.75395, 255.65836, 238.41219, 238.41219,
       265.4666 , 265.4666 , 218.51158, 218.51158, 218.51158, 238.41219,
       211.55562, 218.15779, 242.13237, 214.94402, 211.55562, 211.55562,
       255.65836, 218.51158, 254.59627, 255.65836, 255.65836, 255.65836,
       211.55562, 218.51158, 242.13237, 264.2718 , 262.9506 , 218.51158,
       211.55562, 265.4666 , 218.51158, 211.55562, 211.55562, 211.55562,
       265.4666 , 265.4666 , 238.41219, 238.41219, 238.41219, 255.65836,
       211.55562, 255.65836, 242.13237, 218.51158, 254.20522, 211.55562,
       211.55562, 265.4666 , 260.88007, 218.51158, 265.4666 , 218.51158,
       211.55562, 265.4666 , 214.94402, 265.4666 , 238.41219, 211.55562,
       211.55562, 211.55562, 214.94402, 218.51158, 211.55562, 211.55562,
       218.51158, 211.55562, 243.75395, 255.65836, 238.41219, 255.65836,
       238.41219, 255.65836, 242.13237, 238.41219, 214.94402, 255.65836,
       238.41219, 255.65836, 242.13237, 255.65836, 211.55562, 265.4666 ,
       218.15779, 255.65836, 242.13237, 254.20522, 255.65836, 211.55562,
       254.20522, 211.55562], dtype=float32)

In [48]:
df = pd.DataFrame(pred_final, columns=['TARGET'])

df.insert(0, 'ID', range(1, 1 + len(df)))

df.to_csv('predictions1.csv', index=False)

In [49]:
len(pred_final)

248

saving the model

In [50]:
from joblib import dump

dump(clf, 'model1.joblib')

['model1.joblib']